@font-face {
    font-family: Fraunces;
    src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --dark-purple: #24053E;
    --eucalyptus: #44FFA1;
    --white: #fff;
    --ghost-white: #FCF8FF;
    --davy-grey: #584D62;

    --big-heading: Fraunces, serif;
    --bh-size: 5rem;
    --bh-line-spacing: 80px;
    --bh-weight: 600;

    --medium-heading: Fraunces, serif;
    --mh-size: 3.5rem;
    --mh-line-spacing: 64px;
    --mh-weight: 600;

    --small-heading: Fraunces, serif;
    --sh-size: 2rem;
    --sh-line-spacing: 40px;
    --sh-weight: 600;

    --body-text: Manrope, sans-serif;
    --body-size: 1.125rem;
    --body-line-spacing: 32px;
    --body-weight: 400;
}

/* HERO */

.hero {
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    margin-bottom: 0px;
    background-color: var(--dark-purple);
    z-index: 1;
}

.hero-round {
    width: 300%;
    height: 300px;
    background-color: var(--dark-purple);
    top: 140px;
    right: -50%;
    left: -100%;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    overflow-x: ;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 15px 0px 15px;
    align-items: center;
    height: 34px;
    margin: 0px 0px 90px 0px;
}

header img {
    height: auto;
    width: auto;
    object-fit: contain;
}

header p {
    font-family: var(--body-text);
    color: var(--white);
    border-bottom: var(--eucalyptus) 2px solid;
    padding-bottom: 2px;

    &:hover {
        color: var(--eucalyptus);
    }
}

a {
    text-decoration: none;
    color: var(--white);
}

h1 {
    width: 98%;
    font-size: 3.7vh;
    color: var(--white);
    line-height: 50px;
    text-align: center;
    padding: 0px 15px;
    margin: 0 auto;
    font-weight: var(--bh-weight);
    font-family: var(--big-heading);
}

.underline-word {
    border-bottom: var(--eucalyptus) 2px solid;
    font-size: 3.7vh;
}

.button {
    font-family: var(--body-text);
    display: inline-block;
    width: 10rem;
    height: auto;
    background-color: var(--eucalyptus);
    color: var(--dark-purple);
    text-align: center;
    padding: 15px;
    margin: 20px auto 20px auto;
    font-weight: 600;
    border: var(--eucalyptus) 2px solid;

    &:hover {
        color: var(--eucalyptus);
        border: var(--eucalyptus) 2px solid;
        background-color: var(--dark-purple);
    }
}

#banner-image {
    width: 300px;
    height: auto;
    position: absolute;
    top: 135%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#spiral-1,
#spiral-2,
#spiral-3 {
    display: none;
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    h1 {
        width: 90%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    header {
        padding: 40px 30px 0px 30px;
        height: 34px;
        margin: 0px 0px 90px 0px;
    }
    h1 {
        width: 60%;
        font-size: 3.75rem;
        line-height: 60px;
        font-weight: var(--bh-weight);
        margin-bottom: 20px;
    }
    .underline-word {
        font-size: 3.75rem;
        border-bottom: var(--eucalyptus) 3px solid;
        display: inline-block;
        line-height: 1;
    }
    .hero-round {
        width: 150%;
        height: 300px;
        top: 240px;
        right: 0%;
        left: -25%;
        border-radius: 100%;
    }
    #banner-image {
        width: 65%;
        height: auto;
        position: absolute;
        top: 147%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    #spiral-1 {
        display: inline-block;
        position: absolute;
        right: 85%;
        bottom: 0;
        top: 25%;
    }
    #spiral-2 {
        display: inline-block;
        position: absolute;
        left: 90%;
        bottom: 0;
        top: 70%;
    }
}

/* ACTIONS */

#actions {
    width: 100%;
}

.white-container {
    width: 100%;
    height: auto;
    background-color: var(--ghost-white);
    text-align: center;
    margin-bottom: 320px;
    z-index: 2;
    padding-top: 260px;
}

.white-container-round {
    width: 300%;
    height: 300px;
    background-color: var(--ghost-white);
    top: 110%;
    right: -50%;
    left: -100%;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.number-circle {
    width: 56px;
    height: 56px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: transparent;
    font-family: var(--big-heading);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    color: var(--dark-purple);
    font-size: 20px;
    grid-column: 1;
    grid-row: 2;
}

.action-header {
    font-family: var(--medium-heading);
    font-size: 28px;
    color: var(--dark-purple);
    margin: 30px auto 15px auto;
    font-weight: var(--mh-weight);
    text-align: center;
    max-width: 95%;
    grid-column: 2;
    grid-row: 1;
}

.action-text {
    font-family: var(--body-text);
    line-height: var(--body-line-spacing);
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    .white-container {
        margin-bottom: 440px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .grid-actions {
        width: 80%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 50% 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .action-text {
        text-align: left;
        padding-top: 2.5%;
    }
    .action-header {
        text-align: left;
        margin: 30px 0px 5px 0px;
        align-self: flex-end;
    }
    .number-circle {
        margin-top: 0px;
    }
    .white-container {
        margin-bottom: 320px;
        padding-top: 380px;
    }
    .white-container-round {
        width: 150%;
        top: 100%;
        right: 0%;
        left: -25%;
        border-radius: 100%;
    }
}

/* Access */ 

#apply-access {
    text-align: center;
}

#apply-access img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 153%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#purple-container {
    width: 90%;
    height: auto;
    background-color: var(--dark-purple);
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}

#access-header {
    font-family: var(--medium-heading);
    font-weight: var(--mh-weight);
    font-size: 28px;
    color: var(--white);
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding-top: 30px;
}

#access-text {
    font-family: var(--body-text);
    color: var(--white);
    text-align: center;
    line-height: var(--body-line-spacing);
    padding: 10px 0px;
    width: 95%;
    margin: 0 auto;
    font-weight: 100;
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    #apply-access img {
        top: 155%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    #apply-access {
        text-align: left;
    }
    #purple-container {
        position: relative;
        left: 10%;
        width: 70%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 30px;
    }
    
    #access-header {
        font-size: 3rem;
        text-align: left;
        margin: 0px 0px 15px 0px;
        padding-top: 50px;
    }
    #access-text {
        text-align: left;
        width: 90%;
        margin: 0px;
        font-weight: 400;
    }
    #apply-access img {
        top: 144%;
        left: 21%;
    }
    #spiral-3 {
        display: inline;
        position: absolute;
        top: -300%;
        z-index: 3;
    }
}

/* FOOTER */

footer {
    width: 100%;
    height: auto;
    text-align: center;
}

#footer-logo {
    padding: 60px 0px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons img {
    padding: 0px 10px 30px 10px;
}